@model projemm3.Entities.Galeri

@{
    ViewBag.Title = "Edit";
}

<div class="container">

    @using (Html.BeginForm("Edit", "Galeri", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Resim Ekle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.LabelFor(model => model.ResimUrl, htmlAttributes: new { @class = "control-label col-md-1" })
                <input type="file" name="resim" id="resim" class="form-control" /><br />
                <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                <span><i>Lütfen jpg, jpeg ya da png formatı kullanın.</i></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    @Bootstrap.Button(string.Empty, "success", string.Empty, "save", "floppy-saved", " Kaydet")

                    @Bootstrap.LinkButton("/Galeri/Index", "default", string.Empty, string.Empty, "arrow-left", "Galeriye Dön")

                </div>
            </div>
        </div>
    }


</div>